html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  align-items: center;
  background-color: white;
  max-width: 900px;
  line-height: 1.4;
}

body {
  /* width:  900px;width:  900px; */
}
/*Header*/
header {
  text-align: center;
}
header > hr {
  width: 400px;
  border-top: 4px solid limegreen;
}

header img {
  width: 500px;
  margin-bottom: 20px;
}

.title-pagesubtitle {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.3em;
}
.title-subsection {
  font-weight: lighter;
  font-size: 1.3em;
}

.main-contentpanels h3 {
  font-style: italic;
  text-decoration: underline;
  font-size: 1.2em;
}

/*main*/
.main-contentpanels {
  /* border: 3px solid rgb(204, 0, 255);*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: stretch; */
  align-items: stretch;
}

.panel-content {
  /* border: 5px solid blue;  */
  float: left;
  width: 48%;
  padding: 10px;
  box-shadow: 
    5px 0 0 0 rgb(212, 0, 0), 
    0 5px 0 0 rgb(212, 0, 0),
    5px 5px 0 0 rgb(212, 0, 0),  /* Just to fix the corner */ 
     5px 0 0 0 rgb(212, 0, 0) inset,
    0 5px 0 0 rgb(212, 0, 0) inset;
}

.panel-content h3 {
  margin-bottom: 2px;
}

.panel-content p {
  margin-top: 2px;
}

.panel-content .long-text {
  margin-top: 16px;
}

.panel-content ol {
  margin-left: 20px;
  margin-top: 2px;
}

.title-subsection {
  text-align: center;
  margin-top: 5px;
}

.panel-right {
  width: 50%;
}

.form-contactme {
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  
}

.form-contactme label {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
  margin-left: 40px;

}

.form-contactme input,textarea {
  width: 95%;
  max-width: 300px;  
  margin-bottom: 25px;
}
.form-contactme textarea {
height: 80px;
}
.form-contactme button {

	background-color: white;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid lightgray;
	display:inline-block;
	cursor:pointer;
  /* margin-left: 90px; */
  padding:3px 8px;

  display: block; margin: 0 auto;

}


@media screen and (max-width: 600px) {
  .panel-content {
    width: 100%;
  }
  .main-contentpanels {
    flex-wrap: wrap;
  }
}
